<div class="msg">
    <button mat-raised-button color="primary">Primary</button>
</div>
<br>
<div class="msg">
    <button mat-raised-button color="accent">Accent</button>
</div>
<br>
<div class="msg">
    <button mat-raised-button color="warn">Warn</button>
</div>